@import "tailwindcss";

@theme {
  --color-deepForest: #062C1D;
  --color-bioLime: #BEF264;
  --animate-scan: scan 2s linear infinite;

  @keyframes scan {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(100%); }
  }
}

@layer components {
  /* Glassmorphism utility */
  .glass {
    @apply bg-white/5 backdrop-blur-md border border-white/10 shadow-[0_4px_30px_rgba(0,0,0,0.1)];
  }
}

@layer base {
  body {
    @apply bg-deepForest text-slate-100 min-h-screen m-0 overflow-x-hidden;
    background: radial-gradient(circle at top left, #083c27, #062C1D);
  }
}
